@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
/*=============================
RESET
=============================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,input::after{
    border: none;
}
fieldset, form, label, legend,
table, caption, tbody, tfoot,input::after{
    border: none;
} thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*===========================================================================
FIM RESET
===========================================================================*/

/*=============================================
 HEADER
=============================================*/

ul{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.topo{
    display: flex;
    background: fixed;
    padding: 1vw 0 1vw 0;
    
}
.topo ul a li{
    color: black;
}
.topo:hover{
    background-color: #910033;
    margin-top: 0;
    transition: 1s;
}
.topo:hover ul li{
    color: white;
    transition: 1.0s;
}
.topo:hover div.logomaistitulo{
    color: white;
    transition: 1s;
}

.logomaistitulo{
    display: flex;
    margin-left: 4vw;
    font-family: "comfortaa";
}
.naventrepaginas ul {
    display: flex;
    margin-left: 53vw;
}
.naventrepaginas ul li{
    margin: 0 10px 0 30px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    font-family: "comfortaa";
    font-size: 12px;
}
.naventrepaginas ul li:hover{
    background-color: #5e0021;
    padding: 10px;
    transition: 1.5s;
    border-radius: 55px;
}

header h1{
    text-align: center;
    font-family: "comfortaa";
    color: #0093c4;
    font-size: 5rem;
    padding: 2vw 0 8vw 0;
}
.bobby{
    color: #910033;
}
/*==================================================
 FIM HEADER
==================================================*/

/*==================================================
 MAIN Pag inicial
===================================================*/
.paginicial{
    font-family: "roboto";
}
.topodeexerciciosfisicos{
    
}
.conteudoabordado{
    font-family: "comfortaa";
    text-align: center;
    font-size: 2.3rem;
}
.paginicial p.impacto{
    font-size: 1.3rem;
    text-align: center;
    margin: 2vw 20vw 5vw 20vw;
}
.linhaDeSeparacao{
    border: solid 100px color rgb(211, 211, 211);
}
.tituloDoConteudo{
    color: #5e0021;
    margin-left: 20vw;
    font-size: 2rem;
    font-family: "comfortaa";
    margin: 4vw 10vw 0 10vw;
    text-align: center;
}
.img-tittle{
    text-align: center;
}
.fnt-img{
    text-align: center;
    
}

.espacoEntreConteudos{
    margin: 6vw 0 6vw 0;
}
.conteudoGeral{
    margin: 1vw 10vw 0 10vw;
    font-family: "lato";
    font-size: 1.22rem;
    text-align: center;
}
.meca-imc{
    text-align: center;
   font-family: "comfortaa";
     
    margin: 6vw 40vw 1vw 40vw;
   align-items: center;
}
.divAltura {
    margin: 20px 0 5px 0;
}
.divPeso{
    margin: 5px 0 20px 0;

}
input{
    
    font-family: "comfortaa";
    border: solid 1px black;
    border-radius: 20px;
    background-color: #b8eafa;
    margin: 5px 0 5px 0;
    padding: 5px;
}
input:hover{
    background-color: #84e0ff;
}
#resultado{
    font-size: 1.5rem;
    color: black;
    text-align: center;
    
}
img{
    border: solid 2px black;
}
.divCalc button{
    border: black 1px solid;
    background-color: #5e0021;
    font-size: 1.2rem;
    padding: 10px 20px 10px 20px;
    border-radius: 200px;
    cursor: pointer;
    color: white;
    font-family: "comfortaa";
}
.divCalc button:hover{
    background-color: #910033;
}
/*===========================================================
 Rodapé Pag inicial
===========================================================*/
footer{
    padding: 1vw 1vw 1vw 1vw;
    margin: 5vw 0 0 0;
    display: flex;
}
footer img{
    border: none;
    margin: 0 0 0 0vw;
}
footer ul{
    display: flex;
    margin-left: 25vw;
}
footer ul li{
    margin: 0vw 1vw 0 1vw;
    
}





/*===========================================================
 Main Pagina de projetos
===========================================================*/
main.mainProjetos{
    margin: 0 10vw 0 10vw;
}
.subtitoloDaPagProjetos{
    font-family: "comfortaa";
    text-align: center;
    font-size: 2.3rem;
    margin: 4vw 0 0 0;
}
.PASFM{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1vw;
    font-weight: bold;
}
.obj-projeto{
    text-align: center;
    margin: 1vw 0 0 0;
    font-size: 1.3rem;
}
.tittle-corpo{
    background-color: #c9f2ff;
    border: solid 1px black;
    margin: 5vw 15vw 0 15vw;
   
    border-radius: 200px;
}
.topo-projeto-um{
    display: flex;
    justify-content: center;
}
.topo-projeto-um h2 {
    margin: 7.8vw 2vw 0 0 ;
    font-size: 5rem;
    font-family: "montserrat";
}
.img-projetos {
    border: solid black 3px;
    margin: 5vw 0 0 0vw;
}
.corpo-projeto-um{
    margin: 5vw 4vw 5vw 4vw;
    
    font-size: 2rem;
    font-family: "montserrat";
}
.corpo-projeto-um span{
    font-weight: bold;
}
.fonte-img{
    margin: 3px 11vw 0 20vw;
}

/*======================================================
    PAGE COMO NOS AJUDAR
======================================================*/

.perguntas{
    
    text-align: center;
}

.introducao-form{
    text-align: center;
    font-size: 2.3rem;
    font-family: "comfortaa";
}

.tittle-quests{
    color: #5e0021;
    font-size: 2rem;
    font-family: "comfortaa";
    margin: 0 0 0 0vw;
}
.idade, .nome{
    font-size: 2rem;
    font-family: "comfortaa";
    color: #5e0021;
    padding: 5px;
}
.quests:hover{
    background-color: #0093c4;
    transition: 1s;
    color: #fff;    
}
.enviar{
    font-size: 2rem;
    background-color: #910033;
    color: #fff;
    border: black 2px solid;
    border-radius: 5px;
    font-family: "comfortaa";
    padding: 10px;
    cursor: pointer;
}
.enviar:hover{
    background-color: #5e0021;
    transition: 1s;
}
#boasVindas{
    text-align: center;
    margin: 5vw 0;
    font-size: 2rem;
    font-family: "comfortaa";
    color: black;
}
#linkabaixo{
    text-align: center;
    margin: 5vw auto;
    font-size: 1.5rem;
    font-family: "comfortaa";
    color: blue;
    text-decoration: underline;
    align-items: center;
    justify-content: center;
}
.centralizador{
    text-align: center;
}
.formDois{
    text-align: center;
    font-size: 2rem;
    font-family: "comfortaa";
}
.enviarFormDois{
    font-size: 2rem;
    background-color: #910033;
    color: #fff;
    border: black 2px solid;
    border-radius: 5px;
    font-family: "comfortaa";
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin: 5vw 0;
    
}
.enviarFormDois:hover{
    background-color: #5e0021;
    transition: 1s;
}
#infoRecebidas{
    text-align: center;
    margin: 5vw 0;
    font-size: 2rem;
    font-family: "comfortaa";
    color: black;
}
form{
    align-items: center;
    text-align: center;
}
.formularioGoogle{
    margin: 5vw 0 0 27vw;
    justify-content: center;
    align-items: center;

}